/* saved_searches.css */

/* Dropdown Menu Styles */
.dropdown-menu {
    position: fixed;
    z-index: 1000;
    display: none; /* Hidden by default */
}

.dropdown-menu.is-active {
    display: block;
}

.dropdown-content {
    background-color: var(--box-background-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    min-width: 150px;
}

.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: var(--hover-background-color-dark);
}

/* Ensure parent containers allow overflow */
.columns,
.column,
.field,
.box {
    overflow: visible;
}

/* Table Container */
#saved-searches-container {
    overflow-x: auto;
}

/* Table Styles */
.table {
    width: 100%;
    /* Set min-width to trigger horizontal scroll when needed */
    min-width: 1400px; /* Adjust based on the number of columns */
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    position: relative;
}

.table th {
    background-color: var(--box-background-color);
}

.table tr:nth-child(even) {
    background-color: var(--hover-background-color-dark);
}

/* Notification Container Styles */
#notification-container .notification {
    width: 300px;
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    #saved-searches-container {
        overflow-x: scroll;
    }

    .table {
        min-width: 1000px; /* Adjust as needed for smaller screens */
    }
}
