{% extends 'base.html' %}

{% block title %}Load Jobs{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Load Jobs</h1>


        <div class="columns">
            <div class="column">
                <div class="box">
                    <div id="loadjob-table">
                        <!-- Placeholder for dynamic content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <!-- Include Axios if not already included globally -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Include Bulma's JavaScript (optional, for interactive components) -->
    <script src="https://cdn.jsdelivr.net/npm/bulma@0.9.4/js/bulma.min.js"></script>
    <script src="{{ url_for('static', filename='js/history.js') }}"></script>
{% endblock %}
