<!-- frontend/templates/navbar.html -->
<nav class="menu">
    <ul class="menu-list">
        <li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Search</a></li>
        <li class="{% if request.path == '/lookups.html' %}active{% endif %}"><a href="/lookups.html">Lookups</a></li>
        <li class="{% if request.path == '/history.html' %}active{% endif %}"><a href="/history.html">Search History</a></li>
        <li class="{% if request.path == '/saved_searches.html' %}active{% endif %}"><a href="/saved_searches.html">Scheduled Searches</a></li>
        <li class="{% if request.path == '/schedule_input.html' %}active{% endif %}"><a href="/schedule_input.html">Create Input</a></li>
        <li class="{% if request.path == '/scheduled_inputs.html' %}active{% endif %}"><a href="/scheduled_inputs.html">Scheduled Inputs</a></li>
        <li class="{% if request.path == '/settings.html' %}active{% endif %}"><a href="/settings.html">Settings</a></li>
        <li><button id="theme-toggle" class="button is-small">Toggle Theme</button></li>
    </ul>
</nav>
