{% extends 'base.html' %}

{% block title %}Scheduled Inputs{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scheduled_inputs.css') }}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Scheduled Inputs</h1>


        <div class="columns">
            <div class="column">
                <div class="box">
                    <!-- Container for horizontal scrolling -->
                    <div id="scheduled-inputs-container">
                        <div id="scheduled-inputs-table">
                            <!-- Placeholder for dynamic content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Dropdown Menus Container -->
    <!-- Note: We no longer need this container since we're appending dropdowns to the body -->
</section>
{% endblock %}

{% block extra_js %}
    <!-- Include Axios if not already included globally -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Include your JavaScript file -->
    <script src="{{ url_for('static', filename='js/scheduled_inputs.js') }}"></script>
{% endblock %}
